@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.cardContainer {
    .imgContainer {
        height: 150px;
    }
    .title {
        font-family: "Open Sans", sans-serif;
    }
    .desc {
        color: red;
    }
}
